<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@7/swiper-bundle.min.css" />

{% style %}

  .{{ section.id }}-custom-product-slider {
    margin-top: 80px;
  }

  .{{ section.id }}-custom-product-slider h1 {
    font-size: 46px;
    text-align: center;
    text-transform: uppercase;
  }

  .{{ section.id }}-custom-product-slider .swiper {
    width: 100%;
    height: 100%;
  }

  .{{ section.id }}-custom-product-slider .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .{{ section.id }}-custom-product-slider .swiper-slide img, .{{ section.id }}-custom-product-slider .swiper-slide video {
    width: 100%;
    border-radius: 0;
    margin-top: 60px;
  }

  .{{ section.id }}-custom-product-slider .swiper-button-next, .{{ section.id }}-custom-product-slider .swiper-button-prev {
    display: flex !important;
    color: #b69a7e;
    background: #0F211E;
    border-radius: 100%;
    padding: 25px;
  }

  .{{ section.id }}-custom-product-slider .swiper-button-next:after, .{{ section.id }}-custom-product-slider .swiper-button-prev:after {
    font-size: 18px;
    font-weight: 900;
  }

  .{{ section.id }}-custom-product-slider .slider-card {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 40px;
    box-shadow: 0 8px 30px 1px;
    border-radius: 15px;
  }

  .{{ section.id }}-custom-product-slider .slider-card .text {
    padding: 18px;
    font-size: 24px;
    background: #0F211E;
    color: #b69a7e;
    border-radius: 0 0 15px 15px;
  }

  .{{ section.id }}-custom-product-slider .slider-card .info {
    display: flex;
    padding: 10px 0;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    color: white;
    background: #0F211E;
    border-radius: 15px 15px 0 0;
  }

  .{{ section.id }}-custom-product-slider .slider-card .info img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
  }

  .{{ section.id }}-custom-product-slider .swiper-slide img, .{{ section.id }}-custom-product-slider .swiper-slide video {
    margin-top: 0 !important;
  }

{% endstyle %}

<div class="{{ section.id }}-custom-product-slider container--large">
  <h1>
    {{ section.settings.main-heading }}
  </h1>
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'slide' %}
            <div class="swiper-slide">
              <div class="slider-card">
                <div class="info">
                  <img src="{{ block.settings.influencer_image.src | img_url: 'master'}}" />
                  <span>{{ block.settings.influencer_name }}</span>
                </div>
                <video
                  autoplay
                  muted
                  loop
                  playsinline
                  controls>
                  <source src="{{ block.settings.review_video.sources[1].url }}" type="video/mp4">
                </video>
                <div class="text">{{ block.settings.product_title }}</div>
              </div>
            </div>
        {% endcase %}
      {% endfor %}
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@7/swiper-bundle.min.js"></script>

<script>
    var swiper = new Swiper(".mySwiper", {
      slidesPerView: 1,
      spaceBetween: 0,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      breakpoints: {
        640: {
          slidesPerView: 1,
          spaceBetween: 0,
        },
        768: {
          slidesPerView: 2,
          spaceBetween: 0,
        },
        1024: {
          slidesPerView: 4,
          spaceBetween: 0,
        },
      }
    });
</script>

{% schema %}
  {
    "name": "Video Reviews Slider",
    "settings": [
      {
        "type": "text",
        "id": "main-heading",
        "label": "Main heading of section",
        "default": "Real Customer Reviews"
      }
    ],
    "blocks": [
      {
        "name": "Slide",
        "type": "slide",
        "settings": [
          {
            "type": "video",
            "id": "review_video",
            "label": "Select review video"
          }, {
            "type": "image_picker",
            "id": "influencer_image",
            "label": "Select influencer image"
          }, {
            "type": "text",
            "id": "product_title",
            "label": "Enter product title"
          }, {
            "type": "text",
            "id": "influencer_name",
            "label": "Enter influencer name"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Video Reviews Slider"
      }
    ]
  }
{% endschema %}